ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding-bottom: 1rem;
}

button {
    border-style: none;
    background-color: #D5DADE;
    width: 4.5rem;
    height: 1.5rem;
    border-radius: 2rem;
}

.my-message {
    border-style: groove;
    padding: 0.5rem;
    border-color: floralwhite;
}

.older-messages {
    text-align: center;
}