.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

form {
    display: flex;
    align-items: center;
    height: 5rem;
    background-color: gainsboro;
    justify-content: space-around;
}

textarea {
    height: 65%;
    border: none;
    margin-left: 1.5rem;
    width: 100%;
    resize: none;
}

button {
    background-color: gainsboro;
    border: none;
    width: 5rem;
    font-weight: bold;
}